<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/profile.jpg" alt="profile picture" class="img-thumbnail rounded-circle" width="200px" height="200px">
            <h1 class="display-4">Zaki samson</h1>
            <p class="lead">Front-end Developer</p>
        </div>
    </div>
</div>